@font-face {
    font-family: Inter;
    src: url('./fonts/InterVariable.ttf') format('truetype');

    font-family: InterItalic;
    src: url('./fonts/InterVariable-Italic.ttf') format('truetype');
}
html, body{
    scroll-behavior: smooth
}
@tailwind base;
@tailwind components;
@tailwind utilities;
